*.tar.gz
*.log
*.pyc
*.swp
*.class
*.iml
*.ipr
*.iws

.changelog
pkg/cayoagent/
cmd/cayoagent/
node_modules/
test/
logs/
ui/

yarn-error.log*
npm-debug.log*
yarn-debug.log*
package-lock.json
config/server.yml

.svn/
.DS_Store
.idea/
.atom/
.buildlog/
.history
.eslintcache
.BUILD
